
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Action</th>
            <th scope="col">Meeting Time Scheduled</th>
            </tr>
        </thead>
        <tbody>
            {% for data in response %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <!-- First Name -->
                    <td>{{ data.first_name }}</td>
                    <!-- Last Name --> 
                    <td>{{ data.last_name }}</td>
                    <td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#bookMeetingModal" data-whatever="{{ data.employee_id }}">Book a Meeting</button></td>
                    <td>
                        <input class="bookedTimeSlotTags" style="width:400px;" type="text" name="bookedTimeSlotTags"/>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>