
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Action</th>
            <th scope="col">Meeting Time Scheduled</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#bookMeetingModal" data-whatever="@mdo">Book a Meeting</button></td>
                <td>
                    <input class="bookedTimeSlotTags" style="width:400px;" type="text" name="bookedTimeSlotTags"/>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td><button type="button" class="btn btn-primary btn-sm" value="[9am, 8pm]" data-toggle="modal" data-target="#bookMeetingModal" data-whatever="@fat">Book a Meeting</button></td>
                <td>
                    <input class="bookedTimeSlotTags" style="width:400px;" type="text" name="bookedTimeSlotTags"/>
                </td>
            </tr>
        </tbody>
    </table>