{% extends "base_layout.html" %}
{% block content %}

  <div class="container">
    <div class="row mt-3">
      <div class="col-md">
        <p>Date: 
          <input type="text" id="employeeDatePicker" placeholder="Select Date">
          <a class="input-button" title="toggle" data-toggle>
            <i class="icon-calendar"></i>
          </a>
        </p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md">
        {% include 'employee_table.html' %}
      </div>
    </div>
  </div>
  {% include 'employee_modal.html' %}
  {% include 'success_message.html' %}
  
{% endblock %}
